@font-face {
    font-family: 'Montserrat-semibold';
    src: url('../src/assets/fonts/Montserrat-SemiBold.ttf') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}